<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.wojto"/>

    <bean id="eventInMemoryStorage" class="com.wojto.storage.EventInMemoryStorage" autowire="byType"/>

    <bean id="inMemoryEventDao" class="com.wojto.dao.InMemoryEventDao" autowire="byType">
        <property name="eventInMemoryStorage" ref="eventInMemoryStorage" />
    </bean>

    <bean id="eventService"  class="com.wojto.service.EventService" autowire="byType">
        <property name="eventDao" ref="inMemoryEventDao" />
    </bean>


    <bean id="ticketInMemoryStorage" class="com.wojto.storage.TicketInMemoryStorage" autowire="byType"/>

    <bean id="inMemoryTicketDao" class="com.wojto.dao.InMemoryTicketDao" autowire="byType">
        <property name="ticketInMemoryStorage" ref="ticketInMemoryStorage" />
    </bean>

    <bean id="ticketService" class="com.wojto.service.TicketService" autowire="byType">
        <property name="ticketDao" ref="inMemoryTicketDao" />
    </bean>

</beans>